build/
node_modules/
typings/
npm-debug.log
tsd-debug.log
src/*/*.js
src/*/*.js.map
src/configuration/parameters.json
src/configuration/parameters.*.json
!src/configuration/parameters.docker.json
